p
{
    background-color: rgb(182, 255, 47);
text-align: center;
border-style: : dashed;
border: 1px solid black;
height: 70px;
width: 20%;
padding-top: 20px;
padding-right: 30px;
padding-bottom: 20px;
padding-left: 20px;
}